.fl {
    display: flex;
    align-items: center;
}

.tag {
    border: solid 1px;
    padding: 0.5rem;
}

.row {
    margin-left: 0;
}

.card {
    border: solid 1px;
    padding: 1rem;
    border-radius: 0.5rem;
}